.input {
    background-color: #dadada;
    border-radius: 4px;
    margin-bottom: 5px;
    width: 25%;
}

.input .inputLabel {
    text-align: left;
    color: black;
    font-weight: bold;
    padding-top: 14px;
    font-size: 14pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input .inputContainer {
    padding-top: 5px;
    padding-right: 12px;
    border-radius: 4px;
    padding-bottom: 5px;
}

.input .inputContainer .inputValue {
    text-align: right;
    color: black;
    font-weight: normal;
    border-radius: 4px 0 0 4px;
    box-shadow: inset 0 3px 6px #ddd;
    border: none;
}

.input .inputContainer .inputUnit {
    color: #808080;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    border: none;
    background: white;
    width: 40px;
}
