
.btn.buttonContainer.blutfluss {
    background-color: green;
    color: white;
    box-shadow: 2px 2px 1px #4B919E;
}

/* div {
    display: inline;
}*/

.btn.buttonContainer {
    border-width: 0;
    left: 0;
    top: 0;
    min-height: max-content;
    background: -webkit-linear-gradient(270deg, rgba(134, 195, 201, 1) 0%, rgba(134, 195, 201, 1) 0%, rgba(78, 144, 153, 1) 50%, rgba(78, 144, 153, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(134, 195, 201, 1) 0%, rgba(134, 195, 201, 1) 0%, rgba(78, 144, 153, 1) 50%, rgba(78, 144, 153, 1) 100%);
    background: linear-gradient(180deg, rgba(134, 195, 201, 1) 0%, rgba(134, 195, 201, 1) 0%, rgba(78, 144, 153, 1) 50%, rgba(78, 144, 153, 1) 100%);
    border: none;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
    color: white;
    width: 100%;
    min-width: fit-content;
    padding: 14px;
}

@media (max-width: 768px) {
    .btn.buttonContainer {
        padding: 10px;
    }
}

.btn.buttonContainer:hover {
    box-shadow: 2px 2px 1px grey;
    transform: translate(1px, 1px);
}

.btn.buttonContainer:active {
    background-color: #59C5C4;
    box-shadow: none;
    transform: translate(3px, 3px);

}

.btn {
    font-size: 15pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footerbutton {
    background-color: #707070;
    color: whitesmoke;
}

button + button {
    margin-left: 30px;
}

.layoutContainer .buttonContainer {
    margin-bottom: 18px;
}

.btn.danger {
    height: inherit;
    background: -webkit-linear-gradient(270deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(113, 0, 0, 1) 100%, rgba(113, 0, 0, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(113, 0, 0, 1) 100%, rgba(113, 0, 0, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(113, 0, 0, 1) 100%, rgba(113, 0, 0, 1) 100%);
    border: none;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
}

.btn.blue {
    border-width: 0;
    left: 0;
    top: 0;
    width: 222px;
    height: 40px;
    background: -webkit-linear-gradient(270deg, rgba(4, 48, 255, 1) 0%, rgba(4, 48, 255, 1) 0%, rgba(0, 15, 85, 1) 100%, rgba(0, 15, 85, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(4, 48, 255, 1) 0%, rgba(4, 48, 255, 1) 0%, rgba(0, 15, 85, 1) 100%, rgba(0, 15, 85, 1) 100%);
    background: linear-gradient(180deg, rgba(4, 48, 255, 1) 0%, rgba(4, 48, 255, 1) 0%, rgba(0, 15, 85, 1) 100%, rgba(0, 15, 85, 1) 100%);
    border: none;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
}

.btn.green {
    border-width: 0;
    left: 0;
    top: 0;
    width: 222px;
    height: 40px;
    background: -webkit-linear-gradient(270deg, rgba(0, 147, 0, 1) 0%, rgba(0, 147, 0, 1) 0%, rgba(0, 81, 0, 1) 100%, rgba(0, 81, 0, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(0, 147, 0, 1) 0%, rgba(0, 147, 0, 1) 0%, rgba(0, 81, 0, 1) 100%, rgba(0, 81, 0, 1) 100%);
    background: linear-gradient(180deg, rgba(0, 147, 0, 1) 0%, rgba(0, 147, 0, 1) 0%, rgba(0, 81, 0, 1) 100%, rgba(0, 81, 0, 1) 100%);
    border: none;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.349019607843137);
}

.videoButton {
    display: inline-block;
    border-width: 0;
    left:0;
    top:0;
    width:48px;
    height:40px;
    background:-webkit-linear-gradient(270deg, rgba(148, 160, 169, 1) 0%, rgba(148, 160, 169, 1) 0%, rgba(91, 103, 112, 1) 76%, rgba(91, 103, 112, 1) 100%);
    background:-moz-linear-gradient(180deg, rgba(148, 160, 169, 1) 0%, rgba(148, 160, 169, 1) 0%, rgba(91, 103, 112, 1) 76%, rgba(91, 103, 112, 1) 100%);
    background:linear-gradient(180deg, rgba(148, 160, 169, 1) 0%, rgba(148, 160, 169, 1) 0%, rgba(91, 103, 112, 1) 76%, rgba(91, 103, 112, 1) 100%);
    border:none;
    border-radius:4px;
    -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.501960784313725);
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.501960784313725);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.501960784313725);
    color: white;
}

