
.barometer{
    display: inline-block;
    background-color: #dddddd;
    padding: 5px 5px;
    border-radius: 4px;
    width: 130px;
    border: black;
}

.barometer .barometerContainer {
    padding-left: 10px;
    background-color: #dddddd;
}

.barometer .barometerProgress {
    width: 25px;
    min-height: 200px;
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    box-shadow: 1px 1px 1px #4B919E;
    background-color: #dddddd;
}

.barometer .barometerProgress .barometerProgressBar{
    width: 100%;
    height: 0;
    background-image:linear-gradient(to bottom, red 100%, red 100%);

    /*-webkit-transition: height 0.7s ease;*/
    /*-o-transition: height 0.7s ease;*/
    /*transition: height 0.7s ease;*/
}

.barometer .barometerLabel {
    color: black;
    text-align: center;
}

.barometer .barometerBadge {
    background-color: white;
    color:black;
    border-radius: 4px;
    float: right;
    width: 40px;
}

.barometer + .barometer {
    margin-left: 5px;
}

.barometer .barometerColumn{
    padding-right: 0;
    padding-left: 0;
}
.barometer .filling.between {
    height: 69px;
}

.barometer .filling.before {
    height: 20px;
}

.barometer .ruler, .barometer .ruler li.item {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;

}

.barometer .ruler {
    /*border-right: 2px solid #777777;*/
    /*height: 194px;*/
    margin-top: 30px;
    position: relative;
    left: 7px;
}

.barometer .ruler li.item {
    margin-right: 1px;
    position: relative;
    margin-bottom: 17px;
}

.barometer .ruler li.item:before{
    content: '';
    position: absolute;
    border-top: 2px solid #949494;
    width: 10px;
    right: -8px;
}

.barometer .ruler li.item.medium:before{
    right: -5px;
}
