.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 20px;
}

.toggle {
    -webkit-appearance: none;
    border-color: rgba(78, 144, 153, 1);
    width: 62px;
    height: 32px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
    color:#333333;
    text-align:center;
    line-height:normal;
}


.toggle:before {
    content: "An Aus";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    font-family: 'Source Sans Pro Light', 'Source Sans Pro Regular', 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: white;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.An {
    display: none
}

.Aus {
     /* display: block !important;*/
   display: inline-block;
   /*  -webkit-appearance: none;
    border-color: rgba(78, 144, 153, 1);
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
    color:#333333;
    text-align:center;
    line-height:normal;*/
}

.toggle:checked {
    background-color:#707070;
}

.toggle:checked:before {
    left: 32px;
}
