.clabel {
    display: inline-block;
    width: 100%;
    height: 70%;
    text-align: left;
    font-size: 18pt;
    font-family: sans-serif;
    color: black;
    font-weight: 200;
    word-wrap: break-spaces;
}

@media (max-width: 768px) {
    .clabel {
        font-size: 16pt;
        font-weight: 100;
    }
}

.checkbox {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #eee;
    display: inline;
    box-shadow: 1.5px 1.5px 1px #808080;
}

@media (max-width: 768px) {
    .checkbox {
        height: 20px;
        width: 20px;
    }
}

.vbutton {
    display: inline-block;
    border-width: 0;
    left:0;
    top:0;
    width:48px;
    height:40px;
    background:-webkit-linear-gradient(270deg, rgba(148, 160, 169, 1) 0%, rgba(148, 160, 169, 1) 0%, rgba(91, 103, 112, 1) 76%, rgba(91, 103, 112, 1) 100%);
    background:-moz-linear-gradient(180deg, rgba(148, 160, 169, 1) 0%, rgba(148, 160, 169, 1) 0%, rgba(91, 103, 112, 1) 76%, rgba(91, 103, 112, 1) 100%);
    background:linear-gradient(180deg, rgba(148, 160, 169, 1) 0%, rgba(148, 160, 169, 1) 0%, rgba(91, 103, 112, 1) 76%, rgba(91, 103, 112, 1) 100%);
    border:none;
    border-radius:4px;
    -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.501960784313725);
    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.501960784313725);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.501960784313725);
    color: white;
}

@media (max-width: 768px) {
    .vbutton {
        width: 38px;
        height: 30px;
    }
}


