.ProgressCircle_circle {
    fill: transparent;
    content: attr(data-progress);
    stroke: #59C5C4;
}
.ProgressCircle_circleBackground {
    content: attr(data-progress);
    fill: transparent;
    stroke: #F5F5F5;
    transition-duration: 4s;
    transition: stroke-dashoffset 2s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.circle-background,
.circle-progress {
    fill: none;
}

.circle-background {
    stroke: #ced2d4;
}

.circle-progress {
    stroke: #4e9099;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circle-text {
    font-size: 2em;
    font-weight: bold;
    fill: #5b6770;
}

