.normal {
    font-family: 'Source Sans Pro Light', 'Source Sans Pro Regular', 'Source Sans Pro', sans-serif;
    font-weight:300;
    font-style:normal;
    font-size:30px;
    color:black;
    text-align:center;
    line-height:normal;
}

.bold {
    font-family: 'Source Sans Pro', serif;
    font-weight:normal;
    font-style:normal;
    font-size:35px;
    text-align:center;
    color:black;
}
