.navBar {
    box-shadow: 5px 5px 5px #4B919E ;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navBarContainer {
    background-color:#59C5C4;
}

.navBarItem {
    color: white;
}

.navBarItem a:hover {
    /*border-radius: 0;*/
    /*border-bottom-color: #a7dcdd;*/
    /*border-bottom-style: solid;*/
    /*text-decoration: none;*/
}

.navBarItem a {
    border-radius: 0;
    text-transform: uppercase;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    background: transparent;
    font-size: 20pt;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}

.navBar .myNav > li > a {
    color: white;
}

.navBar .myNav > li > a:hover {
     color: #e5fffe;
     background-color: #4B919E;
}

.navBar .myNav > li > a[aria-current="true"] {
    color: #e5fffe;
    background-color: #4B919E;
}

.navBar {
    border: none;
}

.collapse.navbar-collapse {
    background-color:#59C5C4;
}

.navBarToggle {
    background-color: rgb(221, 221, 221);
    box-shadow: 2px 2px 1px #4B919E
}

.navBarToggle:active {
    box-shadow: none;
    transform: translate(1px,1px) ;
}


