.headerpage{
    background-color: #707070;
    width: 100%;
    padding-right: 8.333333%;
    position: inherit;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 200ms;
    min-height: 10vh;
    color: whitesmoke;
}
