.footerpage{
    background-color: #707070;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 200ms;
    min-height: 10vh;
}

.timer {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
}
