html,
body {
    min-height: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #bbbbbb;
    background-size: cover;
    min-height: 90%;
    min-height: 90vh;

}

.page.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb;
    background-size: cover;
    min-height: 80%;
    min-height: 80vh;
    width: 100%;
}

@keyframes pageBlinkRed {
    from {background-color: #F5F5F5;}
    to {background-color: #F44336;}
}

@keyframes pageBlinkYellow {
    from {background-color: #F5F5F5;}
    to {background-color: #FFEB3B;}
}

.page.wrapper.blink.red {
    animation-name: pageBlinkRed;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.page.wrapper.blink.yellow {
    animation-name: pageBlinkYellow;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
