
.panelName {
    font-size: 14pt;
    font-weight: bold;
    background-color: transparent;
    margin-right: 5px;
}

.badge {
    border-radius: 4px;
    margin-top: 1px;
    font-size: 11pt;
    background: linear-gradient(to top, #ccc, white, white);
    color: black;
    width: min-content;
    padding: 4px;
    margin-left: 5px;
}

.caution {
    font-size: 18pt;
    font-weight: bold;
    background-color: transparent;
    padding-left: 5px;
}



